extends layout

block content
    div.form-panel
    form(action=`/edit/${card.id}` method='post')
        div.form-input
            label(for='name') Name:
            input(type='text' id='name' name='name' value=card.pokemonName)
        div.form-input
            label(for='health') pokemonHealth:
            input(type='text' id='health' name='health' value=card.pokemonHealth)
        div.form-input
            label(for='pokemon-type') Pokemon type image:
            input(type='text' id='pokemon-type' name='pokemon-type' value=card.pokemonType)
        div.form-input
            label(for='pokemon-image') Pokemon Image:
            input(type='text' id='pokemon-image' name='pokemon-image' value=card.pokemonImage)
        div.form-input
            label(for='first-move-image') First Move element Image:
            input(type='text' id='first-move-image' name='first-move-image' value=card.MoveOneImage)
        div.form-input
            label(for='first-move-name') Move One name:
            input(type='text' id='first-move-name' name='first-move-name' value=card.MoveOne)
        div.form-input
            label(for='first-move-amount') Move One energy cost:
            select(id='first-move-amount' name='first-move-amount' autocomplete='off')
                -for(let i = 1; i<= 4; i++)
                option(value=i selected = (first-move-amount === card.MoveOneAmount)) #{i}
        div.form-input
            label(for='first-move-damage') Move One damage:
            input(type='text' id='first-move-damage' name='first-move-damage' value=card.MoveOneDamage)
        div.form-input
            label(for='second-move-image') Move Two element image:
            input(type='text' id='second-move-image' name='second-move-image' value=card.MoveTwoImage)
        div.form-input
            label(for='second-move-name') Move Two name:
            input(type='text' id='second-move-name' name='second-move-name' value=card.MoveTwoName)
        div.form-input
            label(for='second-move-amount') Move Two energy cost:
            select(id='second-move-amount' name='second-move-amount' autocomplete='off')
                -for(let i = 1; i<= 4; i++)
                option(value=i selected = (second-move-amount === card.MoveTwoDamage)) #{i}
        div.form-input
            label(for='second-move-damage') Move Two damage:
            input(type='text' id='second-move-damage' name='second-move-damage' value=card.MoveTwoDamage)
        div.form-input
            label(for='weakness') Pokemon Weakness Element Image:
            input(type='text' id='weakness' name='weakness' value=card.weaknessImage)
        div.form-input
            label(for='resistance') Pokemon resistance image:
            input(type='text' id='resistance' name='resistance' value=card.resistanceImage)
        div.form-input
            label(for='retreat-cost') Pokemon retreat image:
            select(id='retreat-cost' name='retreat-cost' autocomplete='off')
                -for(let i = 1; i<= 3; i++)
                option(value=i selected = (retreat-cost === card.retreatCostAmount)) #{i}
        div.form-input
            label(for='retreat-image') Pokemon Retreat Element:
            input(type='text' id='retreat-image' name='retreat-image' value=card.retreatCostImage)
        div.button-row
            a.button.cancel(href='/') Cancel
            a.button.delete(href=`/delete/${card.id}`) Delete
