mixin pokemonCard(pokemon)



    div(class=`card ${card.pokemonName}`)
        .card-row.header
            p.name=card.pokemonName
            p.healthpoints=card.pokemonHealth
            img.type(src=card.pokemonType)
        img.pokemon-img(src=card.pokemonImage)
        .card-row.move-row.first
            -for (let i = 0; i < card.MoveOneAmount; i++)
            img.type(src=card.MoveOneImage)

            p.move-name=card.MoveOne
            p.damage=card.MoveOneDamage
        .card-row.move-row.second
            -for (let i = 0; i < card.MoveTwoAmount; i++)
            img.type(src=card.MoveTwoImage)

            p.move-name=card.MoveTwo
            p.damage=card.MoveTwoDamage
        .card-row.description-row
            p weakness
            p resistance
            p retreat cost
        .card-row.description-type-row
            .weakness.type-row
                img.type(src=card.weaknessImage)
            .resistance.type-row
                img.type(src=card.resistanceImage)
            .retreat-cost.type-row
                - for(let i = 0; i<card.retreatCostAmount; i++)
                img.type(src=card.retreatCostImage)
            .edit
                a(href=`/edit/${card.id}`) Edit
